.wizard-step-2 {
  .panel-group {
    height: 446px;
    margin-bottom: 25px;
    margin-top: 32px;
    .panel {
      .panel-heading {
        height: 38px;
        background-color: #e1f1f7;
      }
    }
  }
}
